<?xml version="1.0"?>
<configuration>
  <NaviMenu text="首页"  url="~/Default.aspx" />
  <NaviMenu text="缺陷记录"  url="~/DefectRecord.aspx" />
  <NaviMenu text="日常工作提醒"  url="~/DailyWorkRemind.aspx" />
  <NaviMenu text="日常工作修改"  url="~/EditRule.aspx" />
  <NaviMenu text="其他工作记录"  url="~/OtherRecord.aspx" />
</configuration>
